.about{
    width: 100%;
    .about_me{
        background-image: url(https://sb-clean-blog.startbootstrap.com/assets/img/about-bg.jpg);
        background-size: cover;
        width: 100%;
        min-height: 60vh;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;

        h1{ color: white;}
        h4{
            color: white;
        }

    }
    .icon{
        margin-top: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        i{
            cursor: pointer;
           font-size: 50px;
           &:hover{
            color: #0085A1;
           }
        }
      }

}